<div class="filter">
    <app-search-bar (search)="searchCharacter($event)"></app-search-bar>
    <app-characters-select  
      [filteredItens]="filteredItens"
      (filterResult)="filter($event)" 
      (filterOption)="getCharacterByName($event)"></app-characters-select>
  </div>
  <app-filter-chip [filteredItens]="filteredItens" (clear)="clearFilters()" (changeFilterValue)="removeFilter($event)" ></app-filter-chip>
  <div class="totalValues">
    <span>Total results: {{totalItems}}</span>
  </div>
  <app-page-loading *ngIf="onLoad && filteredItens.length > 0"></app-page-loading>
  <app-no-results *ngIf="this.totalItems === 0 && !this.onLoad"></app-no-results>
  <div class="grid" (scroll)="onScroll()">
    <div class="div-card" *ngFor="let character of data">
      <app-card 
        [characterThumbnail]="character.thumbnail" 
        [characterName]="character.name" 
        (click)="redirectToCharacterInfo(character?.id)">
      </app-card>
    </div>
  </div>
  <app-page-loading *ngIf="onLoad && filteredItens.length === 0"></app-page-loading>