.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 32px;

  .div-card {
    margin: 32px 32px 0px 32px;
    justify-content: center;
  }
}

.filter {
  display: flex;
  flex-wrap: wrap;
  margin: 32px 48px 32px 48px;
  margin-top: 32px;
  margin-bottom: 32px;
  justify-content: space-between;
}


.totalValues {
  margin-left: 48px;
  font-size: 16px;
  font-weight: 500;
  color: #808080;
}

.no-results {
  font-weight: 700;
  font-size: 48px;
  margin: 42px
}